@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <ul>
        <li>
            (To Do:User Registration and Login)
        </li>
        <li>
            (To Do:Question Crud And Ui)
        </li>
        <li>
            (To Do:Admin->User section to allow and dis allow(login))
        </li>
        <li>
            (To Do:Admin->UserExamReport section to who attempted exams and can see details as well)
        </li>
        <li>
            (To Do:User Registration and Login)
        </li>
        <li>
            Todays keyword
        </li>
        <li>
            readonly
        </li>
        <li>
            Flow of Application Db COntext
        </li>
        <li>
            ValidateAntiForgeryToken
        </li>
        <li>
            Lamaba Expression
        </li>
        <li>
            Expression
        </li>
        <li>
            Expression Tree,singleton transient scoped
        </li>
        <li>
            singleton transient scoped
        </li>
    </ul>
@*
    (To Do:)
*@
</div>
