@model OnlineExam.Models.ViewModels.OptionsVM

<h1>Add Answer</h1>
<form method="post">
    <input asp-for="question.Id" hidden />
    <input asp-for="question.SubjectId" hidden/>
    <div class="container">
        <div class="row">
            <h4>Edit Question or Add Options</h4>
        </div>
    </div>
    <div>
        <label asp-for="question.question">Question</label>
        <input asp-for="question.question" disabled />
        <span asp-validation-for="question.question"></span>
    </div>
    <div>
        <label asp-for="question.IsActive"></label>
        <input asp-for="question.IsActive" type="checkbox"/>
    </div>
    @foreach(var obj in Model.OptionsList)
    {
        <div>
            <label asp-for="@obj.option"></label>
            <input asp-for="@obj.option" disabled/>
        </div>
    }
    <div>
        <label asp-for="question.Answer">Answer from These Option</label>
        <select asp-for="question.Answer" asp-items="@Model.OptionsListSList" class="form-select">
            <option disabled selected>--Select Option</option>
		</select>
			<span asp-validation-for="question.Answer" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add Answer</button>
    <a asp-controller="Question" asp-action="Index">Go Back</a>
    
</form>

