@model OnlineExam.Models.ViewModels.OptionsVM

<h1>Question Delete</h1>
<form method="post">
	<input asp-for="question.Id" hidden />
	<input asp-for="question.SubjectId" hidden />
	<div>
		<label asp-for="question.question">Question</label>
		<textarea asp-for="question.question" rows="3" class="form-control" disabled></textarea>
		<span asp-validation-for="question.question"></span>
	</div>
	@foreach (var obj in Model.OptionsList)
	{
		<div>
			<label asp-for="@obj.option"></label>
			<textarea asp-for="@obj.option" row="0" class="form-control" disabled></textarea>
		</div>
	}
	<button type="submit" class="btn btn-danger">Delete</button>
	<a asp-controller="Question" asp-action="Index" class="btn btn-outline-secondary">Go Back</a>

</form>

