@model OnlineExam.Models.ViewModels.OptionsVM
@{
	ViewData["Title"] = "Edit";
}

<h1>Question Edit</h1>
<form method="post">
	<input asp-for="question.Id" hidden />
	<input asp-for="question.SubjectId" hidden />
	<div class="container">
		<div class="row">
			<h4>Edit Question or Add Options</h4>
		</div>
	</div>
	<div>
		<label asp-for="question.question">Question</label>
		<textarea asp-for="question.question" rows="4" class="form-control"></textarea>
		<span asp-validation-for="question.question"></span>
	</div>
	<div>
		<label asp-for="question.IsActive"></label>
		<input asp-for="question.IsActive" type="checkbox" />
	</div>
	@foreach (var obj in Model.OptionsList)
	{
		<div>
			<label asp-for="@obj.option"></label>
			<textarea asp-for="@obj.option" rows="1" class="form-control" disabled></textarea>
			<a asp-controller="Question" asp-action="Delete_op" asp-route-id=@obj.Id class="btn btn-outline-danger">Delete Option</a>
		</div>
	}
	
	<div class="col-12">
		<a id="add_more_field" onclick="AddButton()" class="btn btn-dark">Add More option</a>
	</div>

	<div >
		<label asp-for="opTextList[0]">Option</label>
		<textarea asp-for="opTextList[0]" rows="1"  class="form-control"></textarea>
	</div>
	<div >
		<label asp-for="opTextList[1]">Option</label>
		<textarea asp-for="opTextList[1]" rows="1" class="form-control"></textarea>
	</div>
	<div >
		<label asp-for="opTextList[2]">Option</label>
		<textarea asp-for="opTextList[2]" rows="1" class="form-control"></textarea>
	</div>
	<div >
		<label asp-for="opTextList[3]">Option</label>
		<textarea asp-for="opTextList[3]" rows="1" class="form-control"></textarea>
	</div>
	<div id="add"></div>

	@*<div>
		<label asp-for="opTextList.Add()"> Added Option</label>
		<input type="text" asp-for="opTextList.Add()" />
	</div>*@
	<button type="submit" class="btn btn-primary">Update Question With options</button>
	<a asp-controller="Question" asp-action="Index" class="btn btn-outline-dark">Go Back</a>

</form>

@section Scripts{
	<script src="~/js/OptionAdd.js"></script>

}

